<div class="{{styles.container}}">
    <header>
        <a href="#" id="profile" class="{{styles.profileLink}}">
            <span class="{{styles.profileLinkText}}">{{profile_link_text}}</span>
        </a>
    </header>
    {{{ChatInput}}}
</div>